// Changing the theme colors
$primary: #4A90E2;
$secondary: #3ab7ff;
$success: #65ff9f;
$info: #7164ff;
$warning: #ff9f65;
$danger: #ff457b;
$dark: #18181d; 

$my2blue: #3B7ADB;

@import '../node_modules/bootstrap/scss/bootstrap.scss';